.container {
    display: flex;
    justify-content: center;
    gap: 2vw;
}
.center{
    column-count: 3;
}

.article {
    display: inline-block;
    width: 20vw;
    transition: all 0.2s ease-in-out;
    background-color: rgb(209, 218, 218);
    border-radius: 1vw;
    cursor: pointer;
    margin: 1vw 0px
}

.article img {
    min-width: 20vw;
    min-height: 18vw;
}

.article>p {
    margin: 1vw 1vw;
    font-size: 1.2vw;
}

.article:hover {
    box-shadow: 0px 3px 15px black;
}

.form {
    display: flex;
    justify-content: center;
}

#buscar {
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-direction: column;
    width: 78vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    
}



#search {

    width: 30vw;
    height: 1.2vw;
    padding: 1em 1.8em;
    outline: none;
    border: 0.1vw solid #303030;
    background: #212121;
    color: #7b04b2;
    text-transform: capitalize;
    font-size: 1vw;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;

}

#buscar:focus-within #search {
    box-shadow: 0 0 0.5vw #8600c4, 0 0 1vw #001eff, 0 0 2vw #8b00cb;
    border-color: #9005d0;
    width: 40vw;
    transition: 0.5s;
    margin-left: 2vw;
}

#buscar img {
    width: 3.3vw;
    height: 3.3vw;
}

#borde {
    width: 3.3vw;
    height: 3.3vw;
    background-color: #001eff00;
    border-radius: 50%;
}

#buscar:focus-within #borde {
    filter: drop-shadow(0.3vw 0.4vw 0.2vw #0044ff);
    transition: 0.5s;

}