.container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5vw;
}

.singup {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: 2vw;
    margin-top: 1.5em;
}

#card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 35vw;
    width: 25vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4vw;
    border-radius: 15px;
    background: #6e6e6e;
    -webkit-box-shadow: 15px 15px 40px #929292,
        -15px -15px 40px #b6b6b6;
    box-shadow: 15px 15px 40px #929292,
        -15px -15px 40px #b6b6b6;
    border-radius: 1vw;
    padding: 1vw;
    transition: 3s;
    transform: rotateY(0deg);
}

.inputBox,
.inputBox1 {
    position: relative;
    width: 18vw;

}

.inputBox input,
.inputBox1 input {
    width: 100%;
    height: 2vw;
    padding: 0.2vw;
    outline: none;
    border: none;
    color: #000;
    font-size: 1vw;
    background: transparent;
    border-left: 0.2vw solid #000;
    border-bottom: 0.2vw solid #000;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
}

.inputBox span,
.inputBox1 span {
    margin-top: 0.5vw;
    position: absolute;
    left: 0;
    -webkit-transform: translateY(-5vw);
    -ms-transform: translateY(-5vw);
    transform: translateY(-5vw);
    margin-left: 1vw;
    padding: 1vw;
    pointer-events: none;
    font-size: 1vw;
    color: #000;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    letter-spacing: 0.3vw;
    border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    -webkit-transform: translateX(10vw) translateY(-1.5vw);
    -ms-transform: translateX(10vw) translateY(-1.5vw);
    transform: translateX(10vw) translateY(-1.5vw);

    padding: 5px 0.5vw;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.inputBox1 input:valid~span,
.inputBox1 input:focus~span {
    -webkit-transform: translateX(10vw) translateY(-1.5vw);
    -ms-transform: translateX(10vw) translateY(-1.5vw);
    transform: translateX(10vw) translateY(-1.5vw);

    padding: 5px 1vw;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox1 input:valid,
.inputBox1 input:focus {
    border: 2px solid #000;
    border-radius: 8px;
}

.enter {
    height: 4.5vw;
    width: 10vw;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 1vw;
    letter-spacing: 2px;
    margin-bottom: 3em;
}

.enter:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

@media (max-width:1000px){
    #card{
        scale: 1.5;
        margin: 8vw;
    }
    #card >* > *{
        font-size: 1.5vw;
    }
  }