.wrapper {
  width: 100%;
  border-radius: 0.667vw;
  padding: 0 2.667vw;
  margin: 0 auto;
  background-color: var(--playerBackground);
  overflow: auto;
  font-family: 'Quicksand', sans-serif;
  }

  
@media only screen and (max-width: 51.2vw) {
  .wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 40vw) {
  .wrapper {
    padding: 0 1.333vw;
  }
}

