.container {
  display: grid;
  place-items: center;
  width: 100%;
  margin-bottom: 1.333vw;
}

.slider {
appearance: none;
  width: 100%;
  height: 0.267vw;
  border-radius: 0.333vw;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  animation: bumpAnimation 0.5s ease-in-out infinite alternate;
}@keyframes bumpAnimation {
  0% {
    box-shadow: 0vw 0vw 0.7vw 0vw var(--volumeSlider);
  }
  100% {
    box-shadow: 0vw 0vw 0.7vw 0.2vw var(--volumeSlider);
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.4vw;
  height: 1.4vw;
  border-radius: 50%;
  background: var(--progressSlider);
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: var(--progressSlider);
}

.slider::-moz-range-thumb {
  width: 1.333vw;
  height: 1.333vw;
  border-radius: 50%;
  background: var(--progressSlider);
  cursor: pointer;
}

@media only screen and (max-width: 40vw) {
  .container {
    margin: 2.667vw 0;
  }

}

@media (max-width:1000px){
  .slider{
    height: 0.5vw;
  }
  .container{
    margin-bottom: 3vw;
  }
}