.wrapper {
  text-align: center;
  display: flex;
}

.search {
  font-family: 'Quicksand', sans-serif;
  height: 2.667vw;
  border: none;
  font-size: 1.2vw;
  width: 100%;
  margin: 0 auto 0.667vw auto;
  background-color: var(--searchBackground);
  color: var(--searchText);
  padding-left: 1.333vw;
  border-radius: 0.667vw;
}

.search::placeholder {
  color: var(--searchPlaceHolder);
  opacity: 1;
}

.search:-ms-input-placeholder {
  color: var(--searchPlaceHolder);
}

.search::-ms-input-placeholder {
  color: var(--searchPlaceHolder);
}
