:root{
    --color-links:rgba(240, 248, 255, 0.521);
    --color-hover-links: rgba(141, 88, 233, 0.521);
}
.lat {
    text-align: justify;
    background-color: black;
    color: aliceblue;
    height:100%;
    width: 15vw;
    position:fixed;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }
  @media (max-width:1000px) {
    .lat{
      text-align: justify;
      background-color: rgb(0, 0, 0);
      color: aliceblue;
      width: 5vw;
      text-transform: none;
      position:fixed;
      padding-top: 2%;
      padding-left: 2%;
      padding-right: 2%;
      overflow: hidden;
    }
    .logos {
      vertical-align: middle;
      font-size: 1.3vw;
      overflow: hidden;
      color: rgba(240, 248, 255, 0);
    }
    .logos img {
    margin-left: 1vw;
    margin-bottom: 2vw;
  }
    .logo{
    color: rgba(240, 248, 255, 0);
    }
    
  }
  .logo {
    vertical-align: middle;
    margin-bottom: 4vw;
    font-size: 2vw;
    word-wrap: break-word;
  }
  
  .logo img {
    width: 5vw;
    vertical-align: middle;
    margin-right: 4%;
  }
  
  a{
    text-decoration: none;
    color: var(--color-links) ;
    text-transform: capitalize;
    transition: 0.4s;
  }
  a:hover {
    color: var(--color-hover-links);
  }
  
  .logos {
    vertical-align: middle;
    margin-bottom: 10%;
    font-size: 1.3vw;
  }

  .logos img {
    width: 3vw;
    vertical-align: middle;
    margin-right: 7%;
  }
  
  .footlat {
    display: flex;
    flex-flow: column ;
    gap: 3vw;
    font-size: 1vw;
    color: var(--color-links); 
    position: fixed;
    margin: 2vw;
    bottom: 0;
  }
  
