:root{
    --color-links:rgba(240, 248, 255, 0.521);
    --color-hover-links: rgba(185, 158, 232, 0.521);
}
.lat {
    text-align: justify;
    background-color: black;
    color: aliceblue;
    height: 100%;
    width: 15vw;
    position:fixed;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .logo {
    vertical-align: middle;
    margin-bottom: 4vw;
    font-size: 2vw;
    word-wrap: break-word;
  }
  
  .logo img {
    width: 26%;
    vertical-align: middle;
    margin-right: 4%;
  }
  
  a {
    text-decoration: none;
    color: var(--color-links) ;
    text-transform: capitalize;
    
  }
  
  .logos {
    vertical-align: middle;
    margin-bottom: 10%;
    font-size: 1.3vw;
  }
  a:hover{
    color: var(--color-hover-links) ;
  }
  a:hover>.logos img{
    filter:drop-shadow(0.2vw 0.35vw 0.2vw rgb(103, 29, 232));
  }
  .logos img {
    width: 18%;
    vertical-align: middle;
    margin-right: 7%;
  }
  
  .footlat {
    display: flex;
    flex-flow: column ;
    gap: 3vw;
    font-size: 1vw;
    color: var(--color-links); 
    position: fixed;
    bottom: 0;
    margin: 2vw;
  }
  
