
* {
    --first-color: #466499;
    --second-color: #673a86;
    --third-color: #356cd1;
    --fourth-color: #8423c7;
    --fifth-color: #235fc7;
}

#barras-audio {
    margin-top: 0vw;
    width: 68vw;
    margin: 1vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    padding: 3vw;
    border: 0vw;
    border-bottom: 0.2vw;
    border-color: rgb(126, 122, 122);
    border-style: groove;
    font-size: 1vw;
    color: rgb(0, 0, 0);
}

#album {
    width: 17vw;
    height: 17vw;
    border-radius: 15px;
    --glow-spread-color: rgba(0, 0, 0, 0.849);
    --glow-color: rgb(0, 0, 0);
    border: .25em solid var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 2em .5em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    float: right;
}
.container-music {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    overflow: hidden;
    width: 100%;
    box-shadow: 0.1vw -0.1vw 0.4vw var(--first-color),
           -0vw 0.1vw 0.4vw var(--second-color);
    border-radius: 3vw; 
}

.player {
    width: 80vw;
    border-radius: 3vw;
    background-color:  #0011ff09;
    padding: 5vw;
    padding-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Previous_previous__b8Tsx{
    width: 3vw;
  }

  .Next_next__03SFE{
    width: 3vw;
  }








