#up {
    position: fixed;
    text-align: right;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1.4vw;
    background-color: rgba(0, 0, 0, 0.666);
    width: 83%;
    color: aliceblue;
    overflow: hidden;
    z-index: 10;
    margin-left: 17%;
}

#line {
    vertical-align: middle;
    width: 3vw;
    margin-right: 1vw;
}

#up button {
    perspective: 100vw;
    border: none;
    outline: none;
    background-color: aliceblue;
    font-size: 1vw;
    text-transform: uppercase;
    text-decoration: double;
    margin-right: 2vw;
    margin-left: 2vw;
    height: 3vw;
    width: 12vw;
    font-size: 1.3vw;
    color: rgb(0, 0, 0);
    text-shadow: 0 3px 5.003px #000;
    cursor: pointer;
    transform: rotateX(50deg) rotateZ(10deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;

}

#up button::before {
    content: "";
    width: 100%;
    height: 1vw;
    background: aliceblue;

    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;

}

#up button::after {
    content: "";
    width: 1vw;
    height: 3vw;
    background: aliceblue;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-90deg);
    transform-origin: right;
}

#up button:hover {
    transform: rotateX(30deg) rotateZ(0);
}

#arctic {
    vertical-align: middle;
    float: left;
    margin-left: 4%;
}

#arctic img {
    width: 3vw;
    margin-top: 12%;
}