
.container-music {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    overflow: hidden;
    width: 100%;
    box-shadow: 0.1vw -0.1vw 0.4vw var(--first-color),
           -0vw 0.1vw 0.4vw var(--second-color);
    border-radius: 3vw;
}

.player {
    width: 80vw;
    border-radius: 3vw;
    background-color: #0011ff09;
}

.song-name {
    margin-bottom: 1.067vw;
    text-align: right;
    font-size: 1.7vw;
    margin: 1vw;
    margin-left: 4vw;
}

.song-author {
    color: #a5aaaf;
    text-align: center;
    font-size: 1.3vw;
    margin: 1;
}

.player-progress .progress-values {
    display: flex;
    justify-content: space-between;
    color: #a5aaaf;
    font-size: 1.3vw;
}

/* .player-progress progress {
    width: 100%;
    height: 0.667vw;
    -webkit-appearance: none;
    appearance: none;
  }
  .player-progress progress::-webkit-progress-bar {
    background-color: #c3c7cc;
    border-radius: 0.4vw;
  }
  .player-progress progress::-webkit-progress-value {
    background: linear-gradient(to right, #5232c1, #12ccd0);
    border-radius: 0.4vw;
  } */
.player-progress input {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5vw;
    border-radius: 0.4vw;
    background: #404652;
    outline: none;
    overflow: hidden;
}

.player-progress input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    background: #2a2a2a;
    box-shadow: -40.4vw 0 0 40vw #444461;
    cursor: pointer;
}

.player-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    gap: 6vw;

}


.player-buttons .btn {
    font-size: 2.133vw;
    width: 4vw;
    height: 4vw;
    color: #000000b4;
    background: linear-gradient(145deg, var(--first-color), var(--second-color));
    border: none;
    border-radius: 6.667vw;
    box-shadow: 0vw 0vw 0.7vw #302f2fcb, -0vw -0vw 0.7vw #000000b0;
    cursor: pointer;
}

.player-buttons .btn:active{
    width: 3.5vw;
    height: 3.5vw;
}

.player-buttons .btn-activated {
    box-shadow: -0.1vw -0.1vw 0.7vw #ffffff, 0.1vw 0.1vw 0.7vw #000000;
}

.player-buttons .btn-activated i {
    background: linear-gradient(to right, #141414, #258ac5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.player-buttons .btn.btn-prev i {
    display: inline-block;
    margin-top: 0.267vw;
    margin-right: 0.267vw;
}

.player-buttons .btn.btn-play {
    font-size: 4vw;
    width: 2vw;
    height: 2vw;
    box-shadow: 0vw 0vw 0.7vw #302f2fcb, -0vw -0vw 0.7vw #000000b0;
}

.player-buttons .btn.btn-play i {
    display: inline-block;
    margin-top: 0.2vw;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.player-buttons .btn.btn-next i {
    display: inline-block;
    margin-top: 0.267vw;
    margin-left: 0.267vw;
}

.player-buttons .dropdown {
    position: relative;
}

.player-buttons .dropdown-content {
    display: none;
    position: absolute;
    bottom: 2vw;
    width: 7vw;
    z-index: 1;
    transform: rotate(270deg);
    margin: 0.4vw;
}

.player-buttons .dropdown-content input {
    box-shadow: 0vw 0vw 0.2vw #292929, -0vw -0vw 0.2vw #000000;
    -webkit-appearance: none;
    width: 80%;
    height: 0.5vw;
    border-radius: 0.4vw;
    background: #cdd2d7;
    outline: none;
    overflow: hidden;
}

.player-buttons .dropdown-content input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.6vw;
    height: 0.6vw;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    box-shadow: -40.4vw 0 0 40vw #291c33;
    cursor: pointer;
}

.player-buttons .dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 102.4vw) {
    .player {
           width: 100%;
           box-shadow: none;
           padding: 3.2vw;
    }

    .player-buttons .btn {
           width: 4vw;
           height: 4vw;
    }

    .player-buttons .btn.btn-play {
           width: 5vw;
           height: 5vw;
    }

    .player-buttons .dropdown-content {
           left: 0.533vw;
    }
}